@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Montserrat:wght@300;400;500;700&display=swap");
/*MEDIAQUERIES*/
nav {
  font-family: "Barlow condensed"; }
  nav img {
    width: 100px;
    height: 100px; }
