.banner1 {
    background-image: url(../assets/persona-paisaje1.jpg);
    width: 100%;
    height: 50rem;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
        h1 {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            font-family: 'Montserrat', sans-serif ;
            margin-top: 10rem;
            letter-spacing: 0.6rem;
            line-height: 6rem;
            color: #000000cf;
        }
}

.banner2 {
    background-image: url(../assets/gente-fuego.jpg);
    width: 100%;
    height: 40rem;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
        p {
            font-family: 'Aleo', serif;
            font-size: 1.5rem;
            text-align: center;
            color: #949393;
            line-height: 2rem;
            letter-spacing: 0.1rem;
            padding-top: 7rem;
            margin: 0 1rem 0 1rem;
        }
        strong {
    font-size: 1.2rem;
}
}

.asideInicio {
    background-color: black;
}

.socialMediaInicio {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
}

@include tablet {
    .banner1 {
        height: 70rem;
        h1 {
            font-size: 3.2rem;
            padding-top: 5rem;
            letter-spacing: 2rem;
            line-height: 10rem;
        }
    }
    .banner2 {
        height: 60rem;
        p{
            font-size: 1.7rem;
            line-height: 3.5rem;
            letter-spacing: 0.3rem;
            padding-top: 10rem;
        }
        strong {
            font-size: 1.8rem;
        }
    
    }

    .asideInicio {
        position: relative;
    }
    .socialMediaInicio {
        display: flex;
        flex-direction: column;
        position:absolute;
        right: 0px;
        top: -100rem;
        background-color: rgba(122, 119, 119, 0.5);
        border-radius: 10px 0px 0px 10px ;
        padding: 1rem 0.5rem 1rem 0.5rem;
            img {
                height: 2.5rem;
                width: 2.5rem;
            }
    }
}

@include laptop {
    .banner1 {
        height: 80rem;
        h1 {
            font-size: 4rem;
            padding-top: 6rem;
            letter-spacing: 3rem;
            line-height: 15rem;
        }
    }

    .banner2 {
        height: 70rem;
        p {
            font-size: 2.3rem;
            line-height: 4rem;
            letter-spacing: 0.4rem;
            padding-top: 10rem;
        }
        strong {
            font-size: 2.5rem;
        }
    }
    
    .socialMediaInicio {
        top: -115rem;
        gap: 3rem;
    }
    .socialMediaInicio img {
        height: 3rem;
        width: 3rem;
    }

}

