/*EXPERIENCIAS*/

.backgroundExperiencias {
    background-image: url(../assets/persona-paisaje2.jpg);
    width: 100%;
    height: 175rem;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    h2 {
        text-align: center;
        font-family:'Aleo', 'serif ';
        font-size: 1.5rem;
        margin: 3rem 0rem 4rem 0rem;
        color: $color-texto-principal;
    }
}


.travesias {
    @include grid(100%, 12rem 12rem 12rem 12rem 12rem 12rem, 2rem );
    margin: 2rem;
    .travesiasImg {
        display: flex;
        margin: auto;
        gap: 1rem;
        img {
            height: 12rem;
            width: 12rem;
            border-radius: 50%;
        }
    }
}

.travesiasInfo {
    background-color: #ffffff66;
    border-radius: 1rem;
    h3 {
        font-family: 'Aleo';
        text-align: center;
        margin-top: 1rem;
        font-size: 1rem;
    }
    .travesiasP{
        text-align: center;
        font-family: 'aleo';
        font-size: 0.8rem;
        padding: 0rem 0.5rem 1rem 0.5rem;
        width: 80%;
        margin: auto;
        
    }
}
.travesias a, .descanzos a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Aleo';
    font-size: 0.8rem;
    border-top: 1px solid black;
    padding-top: 0.5rem;
    margin: 0 15% 0 15%;
    width: 70%;
    color: $color-texto-secundario;
}

.descanzos {
    @include grid (100%, 12rem 12rem 12rem 12rem, 2rem);
    margin: 2rem;
    img {
        display: flex;
        margin: auto;
        height: 12rem;
        width: 12rem;
        border-radius: 0.5rem;
    }
    h3 {
        font-family: 'Aleo';
        text-align: center;
        margin-top: 1rem;
        font-size: 1rem;
    }
}

.descanzosP {
    text-align: center;
    font-family: 'aleo';
    font-size: 0.8rem;
    padding: 0.5rem ;
    margin:0;
}


.descanzosInfo1, .descanzosInfo2 {
    background-color: #ffffff66;   
    border-radius: 1rem;
    
}

.moreInfoDesktop {
    display: none;
}

.moreInfo {
    display:none;
}

@include tablet {
    .backgroundExperiencias {
        height: 130rem;
        h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 8rem 0rem 8rem 0rem;
        letter-spacing: 0.8rem;
        }
    }

    .travesias {
        @include grid (30% 70%, 12rem 12rem 12rem, 4rem 2rem);
        .travesiasP {
            font-size: 0.9rem;
            width: 90%;
        }
        .travesiasInfo{
            width:90%;
        }
        h3 {
            font-size: 1.3rem;
        }
        a {
            display:none;
        }
        .moreInfo {
            display: block ;
            text-align: center;
            font-family: 'Monserrat';
            font-size: 0.9rem;
            padding: 0.5rem 0rem 0.5rem 0rem;
            border-top: 1px solid #035e03;
            width: 90%;
            margin: auto;
            color: #035e03;
        }
        
    }

    .descanzos {
        @include grid (auto auto auto, auto auto, 4rem 1rem);
        margin: 4rem;
        h3 {
            font-size: 1.3rem;
        }
        a {
            display:none;
        }
        .descanzosP {
            font-size: 0.9rem;
        }
        .moreInfo {
            display: block ;
            text-align: center;
            font-family: 'Monserrat';
            font-size: 0.9rem;
            padding: 0.5rem 0rem 0.5rem 0rem;
            border-top: 1px solid #035e03;
            width: 90%;
            margin: auto;
            color: #035e03;
        }
    }
    .descanzosImg1 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .descanzosInfo1 {
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: #ffffff5c;
    }
    
    .descanzosInfo2 {
        grid-column: 2/4;
        grid-row: 2/3;
        background-color: #ffffff5c;
    }
    
    .descanzosImg2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@include laptop {
    .backgroundExperiencias{
        h2 {
            font-size: 3rem;
            margin: 8rem 0rem 0rem 0rem;
        }
    }
    .travesias {
        margin: 6rem;
    }
    .descanzos {
        margin:8rem;
    }
}